@font-face {
    font-family: 'Terminus';
    src: url('Terminus.ttf') format('truetype');
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: grey;
    font-family: 'Terminus', monospace;
    font-size: 48px;
}

div.absolute {
    position: absolute;
    bottom: 10px;
    width: 50%;
    border: 3px solid #8AC007;
  }